$background-color: #383838;

.footer {
    padding: 10px;
    background-color: $background-color;
    > address {
        > div {
            display: flex;
            align-items: center;
            margin: 10px 0;
            > b {
                margin: 0 3px;
            }
            .icon {
                font-size: 16px;
            }
        }
    }
}
