$background-color: #383838;

.header {
    position: relative;
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    z-index: 1;
    .hamburgerButton {
        position: absolute;
        left: 6px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        > div {
            width: 30px;
            height: 3px;
            background-color: #9aa0a6;
            border-radius: 3px;
        }
    }
    > h1 {
        font-size: 21px;
        margin: 0;
    }
}
