.home {
    background-color: #242424;
    position: relative;
    margin: auto;
}

.main {
    max-width: 960px;
    padding: 20px 10px;
    margin: auto;
    min-height: calc(100vh - 186px);
}
